body {
    margin: 0 auto;
    color: rgb(18, 80, 141);
    font-family: 'Open Sans', sans-serif;
}

/*18, 80, 141*/
/*30, 101, 163*/
div {
    position: relative;
}


.container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(18, 80, 141);
}

.inner-container {
    width: 100%;
    height: 100%;
    max-width: 650px;
    margin: 0 auto;
    background-color: white;
}

.text-container{
    overflow-y: scroll;
    max-height: calc(100% - 61px);
}

.title {
    font-family: 'Spectral SC', serif;
    font-size: 36px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

.description {
    padding-left: 20px;
    padding-right: 20px;
}

.episodes{
    padding-top: 20px;
}

.episode {
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgb(18, 80, 141);
}

.episode:nth-child(1) {
    border-top: 1px solid rgb(18, 80, 141);
}

.episode-title {
    font-style: italic;
}


.fa-spinner {
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.fa {
    transition: all 0.2s;
}

.player-container .fa {
    position: absolute;
    left: 24px;
    top: 24px;
}

.player-container {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 60px;
    width: calc(100%);
    border-top: 1px solid rgb(18, 80, 141);
    user-select: none;
}

.player-container:hover {
    cursor: pointer;
}

.slider-container {
    float: left;
    background-color: white;
    height: 60px;
    width: calc(100% - 61px);
    user-select: none;
    background-color: rgb(30, 101, 163);
}

.slider-play-pause {
    float: left;
    background-color: white;
    width: 60px;
    height: 40px;
    color: rgb(18, 80, 141);
    text-align: center;
    padding-top: 20px;
    user-select: none;
    border-right: 1px solid rgb(18, 80, 141);
    font-size: 14px;
}

.slider-playhead {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgb(18, 80, 141);
    height: 60px;
    width: 100%;
    user-select: none;
    border-right: 1px solid white;
}

.slider-episode-title {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 40px;
    width: 100%;
    transition: all 0.5s;
    user-select: none;
    text-align: center;
    padding-top: 20px;
    color: white;
}
